<div class="d-flex justify-content-center align-items-center h-100 flex-column">
  <div class="title mt-4">Curitiba, 9:41 - 14°C</div>
  <div class="avatar-logo">
    <img src="logo.png" height="200" width="200" />
  </div>
  <div class="description mb-2" style="text-align: center;">
    Seja bem vindo(a)! <br>
    Escolha em uma das opções:
  </div>
  <%# <div class="bus flex-wrap">
    <div class="bus-item rounded p-2 d-flex flex-row">
      <div class="bus-icon d-flex justify-content-center">
        <div class="bus-status more1 rounded-circle d-flex justify-content-center align-items-center">1 min.</div>
      </div>
      <span class="bus-text d-flex justify-content-center align-items-center ml-3 mr-3">Linha 001 - CWB - SP</span>
    </div>
    <div class="bus-item rounded p-2 d-flex flex-row mt-2">
      <div class="bus-icon d-flex justify-content-center">
        <div class="bus-status more5 rounded-circle d-flex justify-content-center align-items-center">5 min.</div>
      </div>
      <span class="bus-text d-flex justify-content-center align-items-center ml-3 mr-3">Linha 001 - CWB - SP</span>
    </div>
    <div class="bus-item rounded p-2 d-flex flex-row mt-2">
      <div class="bus-icon d-flex justify-content-center">
        <div class="bus-status more10 rounded-circle d-flex justify-content-center align-items-center">+10 min.</div>
      </div>
      <span class="bus-text d-flex justify-content-center align-items-center ml-3 mr-3">Linha 001 - CWB - SP</span>
    </div>
    <div class="bus-item rounded p-2 d-flex flex-row mt-2">
      <div class="bus-icon d-flex justify-content-center">
        <div class="bus-status more10 rounded-circle d-flex justify-content-center align-items-center">+10 min.</div>
      </div>
      <span class="bus-text d-flex justify-content-center align-items-center ml-3 mr-3">Linha 001 - CWB - SP</span>
    </div>
    <div class="bus-item rounded p-2 d-flex flex-row mt-2">
      <div class="bus-icon d-flex justify-content-center">
        <div class="bus-status more10 rounded-circle d-flex justify-content-center align-items-center">+10 min.</div>
      </div>
      <span class="bus-text d-flex justify-content-center align-items-center ml-3 mr-3">Linha 001 - CWB - SP</span>
    </div>
  </div> %>

  <div class="actions d-flex flex-row justify-content-around w-100 mt-4">
    <div class="item p-4 rounded d-flex justify-content-center flex-column">
      <div class="d-flex justify-content-center">
        <div class="item-avatar rounded-circle d-flex justify-content-center align-items-center"> <i class="fas fa-volume-up"></i></div>
      </div>
      <span class="mt-2" style="text-align: center;">Mê avisa?</span>
    </div>
    <div class="item p-4 rounded d-flex justify-content-center flex-column">
      <div class="d-flex justify-content-center">
        <div class="item-avatar rounded-circle d-flex justify-content-center align-items-center"> <i class="fas fa-bus"></i></div>
      </div>
      <span class="mt-2" style="text-align: center;">Qual ônibus devo pegar?</span>
    </div>
    <div class="item p-4 rounded d-flex justify-content-center flex-column">
      <div class="d-flex justify-content-center">
        <div class="item-avatar rounded-circle d-flex justify-content-center align-items-center"> <i class="fas fa-clock"></i></div>
      </div>
      <span class="mt-2" style="text-align: center;">Qual próximo ônibus?</span>
    </div>
    <div class="item p-4 rounded d-flex justify-content-center flex-column">
      <div class="d-flex justify-content-center">
        <div class="item-avatar rounded-circle d-flex justify-content-center align-items-center"> <i class="fas fa-tools"></i></div>
      </div>
      <span class="mt-2" style="text-align: center;">Problemas no ponto de ônibus?</span>
    </div>
  </div >
</div>