<div class="d-flex justify-content-center align-items-center h-100 flex-column">
  <div class="title time-clock mt-4"></div>
  <div class="avatar-logo">
    <img src="logo.png" height="100" width="100" />
  </div>
  <div class="description mb-2" style="text-align: center;">
    Linhas disponiveis no ponto de onibus <br>
    <b><%= @spot_name %></b>
  </div>

  <div class="bus d-flex flex-wrap mt-2 justify-content-center">
    <% @list_bus.each do |bus| %>
      <a href="<%= info_path(number: bus[:number]) %>">
        <div class="bus-item rounded p-2 m-2 d-flex flex-row">
          <span class="bus-text d-flex justify-content-center align-items-center ml-3 mr-3"><%= bus[:name] %></span>
        </div>
      </a>
    <% end %>
  </div> 

  <a class='btn btn-info btn-back' href="<%= index_path %>"> voltar </a>

</div>