<div class="d-flex justify-content-center align-items-center h-100 flex-column">
  <div class="title time-clock mt-4"></div>

  <div class="status d-flex justify-content-center" style='margin-top: 20vh;'>
    <i class="fas fa-check-circle"></i>
  </div>

  <div class="description mt-2" style="text-align: center;">
    Tudo certo! <br>
    <%= raw @text %>
  </div>

  
  <a class='btn btn-info btn-back' style='margin-top: 20vh' href="<%= index_path %>"> inicio </a>
</div>