
<html>
	<head>
    <title>SmartMobi - Painel</title>
		<style>
		
body{
	background-color: #609B28;
}
		
td {
  text-align: center;
}

h1 {
  color: maroon;
  margin-left: 40px;
}

img{
	position: relative;
	width: 280px;
	height: 280px;

}
h2{
	font-family: "Bahnschrift";
	font-size: 48px;
	top: 100px;
	left: 15px;
	position: relative;
	color: #FFFFFF;
	text-align: center;
	padding: 0;
	margin: 0;
}

th{
	font-family: "Bahnschrift";
	font-size: 28px;
	color: #E0DBDB;
}
td{
	font-family: "Bahnschrift Condensed";
	font-size: 22px;
	color: #FFFFFF;
}
iframe{
	position: relative;
	border: 0;
}

table{
	position: relative;
	left: -30px;
}

.level1{
	color: #FFFFFF;
}

.level2{
	color: yellow;
}

.level3{
	color: orange;
}

.level4{
	color: red;
}

</style>
	</head>
	<body style="display: flex">
		
		<div style="display: flex; flex-direction: column">
		<img src="/logo.png" style="display: flex; flex-direction: column"></img>
		 <iframe src='https://lab.onesaitplatform.com/controlpanel/viewers/view/75065b06-08a6-44c2-b647-4be221425493' allowfullscreen width = '720' height = '450'></iframe>
		 </div>
		 <div style="display: flex; flex-direction: column; left: -10px">
		 
		 
		 <h2>Total de usuários no dia de hoje:</h2>
		<h2>15562 usuários</h2>
		 
		 		 
		 <table style="position: relative; left: 15px; top: 300px">
			<tr>
				<th>
					Status
				</th>
				<th>
					Número de Pontos
				</th>
			</tr>
			<tr>
				<td class="level1">
					Normal
				</td>
				<td class="level1">
					775
				</td>
			</tr>
			<tr>
				<td class="level2">
					Precisa de Limpeza
				</td>
				<td class="level2">
					374
				</td>	
			</tr>
			<tr>
				<td class="level3">
					Precisa de Manutenção
				</td>
				<td class="level3">
					250
				</td>
			</tr>
			<tr>				
				<td class="level4">
					Problema com conexão
				</td>
				<td class="level4">
					121
				</td>
			</tr>
		 </table>
		 </div>
	</body>
</html>